# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
# R data files from past sessions
.Rdata
# RStudio files
.Rproj.user/
shinyStan.Rproj
# For the Mac
*.DS_Store
.Rproj.user
inst/doc
^cran-comments\.md$

cran-comments.md
