/* Also see shinyStan_datatables.css and shinyStan_dygraphs.css*/

/* red color: #B2001D 

dark red color: #590815

more red colors:
#FCFAFA (Lightest)
#F5ECEC
#EBDADA
#DCBCBC
#C79999
#B97C7C
#A25050
#8F2727
#7C0000 (Darkest)

complimentary accent colors
#6B8E8E (Light Teal)
#487575 (Mid Teal)
#1D4F4F (Dark Teal)

#CBDDA6 (Light Olive)
#9FB670 (Mid Olive)
#617B2D (Dark Olive)

*/


@import url('//fonts.googleapis.com/css?family=Volkhov:400,400italic,700,700italic');
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

#save_and_close_button{
  position: absolute;
  top: 5px;
  left: 10px;
  background: white;
  color: #B2001D;
  padding: 3px;
  border: 1px solid black;
  font-size: 12px;
  font-weight: bold;
}
#save_and_close_button:hover {
  background: black;
  color: white;
  font-weight: bolder;
  border: 2px solid #B2001D;
}

#shinystan-title {
    max-width: 100%;
    text-align: center;
    font-size: 5.25rem;
    line-height: 1.05882;
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-family: "volkhov",serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -3px;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff; 
}
#model-name {
  text-align: center;
  padding-top: 10px;
}
.wide-ensemble {
  z-index: -1;
  position: fixed;
  top: 100px;
	margin:  20px 0 0;
	width: 100%;
}

.stan-logo {
  z-index: 5;
  position: relative;
  /*width: 15%;*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  height: 150px;
}

#all_summary_out{
  z-index: -1;
}
#controls_table{
  z-index: 1;
}
#table_options{
  max-height: 500px;
  overflow-y: scroll;
}

.home-links {
  text-align: center;
}
.home-links:hover {
  font-size: 1.05em;
}

.help-links-active {
  text-decoration: underline;
}

.btn-default {
  background: black;
  color: white;
  box-shadow: 0 0 1px #ffffff inset;
}
.btn-default:link {
color: white;
}
.btn-default:focus,.btn-default.focus{
  color:#ffffff;background-color:#798d8f;border-color:#566566
  
}
.btn-default:hover{
  color:#ffffff;background-color:#798d8f;border-color:#74898a
  
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{
  color:#ffffff;background-color:#798d8f;border-color:#74898a
  
}
.btn-default:active:hover,.btn-default.active:hover,.open>.dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open>.dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open>.dropdown-toggle.btn-default.focus{
  color:#ffffff;background-color:#687b7c;border-color:#566566
  
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{
  background-image:none
  
}

/***********************/
/* NAVBAR */
.navbar-fixed-top {
  background-color: transparent;
  border-top: 5px solid black;
}

.navbar-brand {
  background: transparent;
  /*border-radius: 0 0 0 10px;*/
}

.navbar .nav {
  position: absolute;
  left: 150px;
  z-index: 5;
  text-align: center;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0 0 10px 10px;
  background: black;
  opacity: 0.9;
  height: 47px;
  font-size: 13px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}


#nav_toggle {
  z-index: 20;
  display: block;
  vertical-align: top;
  margin: 0;
  padding: 6px 20px;
  background-color: black;
  height: 44px;
}

.navbar .nav > .active > a {
  background: black;
  color: #B2001D;
}
.navbar .nav > .active > a:hover {
  background: black;
  color: #B2001D;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px #B2001D inset;
}

.navbar .nav li {
  padding-top: 7px;
  color: #ffffff;
  line-height: 1.71429;
  display: inline-block;
  text-align:center; 
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; */
  font-family: 'source-sans-pro', sans-serif;
  text-transform: uppercase;
}

.navbar .nav li a{ 
  transition-delay: 0.1s;
  font-weight: lighter;
  margin-bottom: 0;
  padding: 7px;
  
}

/*
.navbar .nav li a:link, a:visited {
}
*/

.navbar .nav li a:hover, a:active{ 
  /*background: #191919;*/
  color: white;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px #ffffff inset;
}


/***********************/

code {
  color: #590815;
  background: #F5ECEC;
}

body {
  padding-top: 75px;
  color: #222;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;*/
  /*font-family: 'source-sans-pro', sans-serif;*/
}

/*links*/
a:link {
    color: #006DCC;
}
a:visited { /* visited link */
    color: #590815;
}
a:hover { /* mouse over link */
    color: #590815; 
}
a:active { /* selected link */
    color: #590815;
}

.well {
  padding-top: 5px;
  padding-bottom: 0;
}

.table .alignRight {
  text-align:right;
}

/**************************************/
/* customization control panels */
.optionswell, .tableoptionswell {
  z-index: 200;
  padding-top: 20px;
  background-color: #dadada;
  border: 0 solid #222222;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  /*max-height: 400px;*/
  overflow-y: scroll;
}
.draggable_controls {
  cursor: move;
  opacity: 0.9;
  transition: opacity 500ms 1s;
}
.aoptions {
  margin-top: 10px;
}
.hroptions {
  margin-top: 0; 
  margin-bottom: 0;
  border-width: 2px; 
  border-radius: 1px;
  border-color: #bdbdbd;
}
.hrtableoptions {
  margin-top: 5px; 
  margin-bottom: 5px;
  border-width: 2px; 
  border-radius: 1px;
  border-color: #bdbdbd;
}
.divoptions_light {
  padding-right: 10px; 
  padding-left: 10px; 
  margin-top: 0; 
  margin-bottom: 10px; 
  background-color: #f3f3f3;
  -webkit-box-shadow: inset 2px 1px 2px 0 rgba(189,189,189,0.5);
  -moz-box-shadow: inset 2px 1px 2px 0 rgba(189,189,189,0.5);
  box-shadow: inset 2px 1px 2px 0 rgba(189,189,189,0.5);
}
/**************************************/

/**************************************/
/* don't blink when recalculating */
#autocorr_plot_out.recalculating, #multiparam_plot_out.recalculating { 
  /*#multitrace_plot_out.recalculating*/
  opacity: 1.0; 
}
/**************************************/

/*******************/
/* sliders */
/*******************/
.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 8px; top: 25px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%); /* W3C */
    border: 1px solid #CCC;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
.irs-line-left {
        height: 8px;
}
.irs-line-mid {
        height: 8px;
}
.irs-line-right {
        height: 8px;
}

.irs-bar {
    height: 8px; top: 25px;
    border-top: 1px solid #006dcc;
    border-bottom: 1px solid #006dcc;
    background: #006dcc;
  }
  .irs-bar-edge {
    height: 8px; top: 25px;
    width: 14px;
    border: 1px solid #006dcc;
    border-right: 0;
    background: #006dcc;
    -moz-border-radius: 16px 0 0 16px;
    border-radius: 16px 0 0 16px;
}

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 17px;
    width: 22px; height: 22px;
    border: 1px solid #AAA;
    background: #DDD;
    -moz-border-radius: 27px;
    border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}

#irs-active-slider, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: white;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 11px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 3px;
    background: #006dcc;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #006dcc;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}


/**************************************/
/* digits control for stats tables */
#table_digits {
  position: absolute;
  left: 50px;
  top: 5px;
  height: 30px;
  width: 50px;
  padding: 0 0 0 5px;
}
#table_digits_txt {
  position: absolute;
  left: 0;
  top: 8px;
}
#sampler_digits, #tex_digits {
  height: 30px;
  width: 60px;
  padding: 0 0 0 5px;
}
#summary_stats_latex_out {
  color: black;
  background-color: #F5ECEC;
}
/**************************************/

.help-glossary-div {
  background: white;
  font-family: Verdana, Geneva, sans-serif; 
  font-weight: lighter;
}
.help-glossary-nav-container {
  background-color: #FCFAFA; /*#F6F6F6;*/
}
.glossary-entry {
  font-size: 13px;
  max-height: 475px; 
  overflow-y: scroll;
}

#diagnostics_help_navlist {
  background-color: #F5ECEC; /*#FCFAFA; (Lightest)*/
}
#diagnostics_help_navlist:hover {
  background-color: #F5ECEC;
}

#dens_xzoom {
  width: 50%;
}

.diagnostics-navlist-tabpanel {
  max-height: 500px;
  overflow-y: scroll;
}

/**************************************/

#shinystan_citation {
  color: black;
  cursor: move;
}
#citation_text {
  color: black;
  font-size: 11px;
}
/* notes and model_code text areas */
 
#user_model_info {
  font-family: Verdana, Geneva, sans-serif; 
}
#user_model_code {
  /*font-family: "Lucida Console", Monaco, monospace;*/
  font-family: 'source-code-pro', monospace;
}
#user_model_info, #user_model_code {
  height: 400px;
  background: #f0f0f0;
  border: 5px solid #f0f0f0; 
  border-radius: 2px;
  font-size: 11px;
}
#user_model_info:hover{
  background: #f1f0ec;
  border-color: #f1f0ec; 
}
#user_model_code:hover {
  background: #f1edec;
  border-color: #f1edec; 
}
#user_model_info:focus {
  background: #f1f0ec;
}
#user_model_code:focus {
  background: #f1edec;
}
#user_model_info:focus, #user_model_code:focus {
  /*
  opacity: 0.9;
  filter: alpha(opacity=90);
  */
  outline: none;
  border: 10px solid black;/*#B2001D; */
  box-shadow: 0 0 10px black;
  font-size: 0.95em;
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 0.2s; 
}
#user_text_saved, #user_code_saved {
  color: gray;
}
#save_user_model_info_safe_quit, #save_user_model_code_safe_quit{
  color: gray;
  font-size: 12px;
}
.save-close-reminder {
  background: white;
  color: #B2001D;
  padding: 3px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 11px;
  text-align: center;
  width: 80px;
  white-space:nowrap;
}



/**************************************
Transition effect for home page links with secondary text 
modified from freely usable code at Codrops
http://tympanus.net/codrops/
http://tympanus.net/codrops/licensing/
**************************************/
#links_nav_div {
  text-align: center;
}

#links_nav a {
	position: relative;
	display: inline-block;
	outline: none;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size: 1.35em;
	color: #590815;
	text-align: left;
}

#links_nav a:hover,
#links_nav a:focus {
	outline: none;
}

/* Effect 9: second text and borders */
.cl-effect-9 a {
	margin: 0 0px;
	padding: 8px 10px;
}

.cl-effect-9 a::before,
.cl-effect-9 a::after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: opacity 0.3s, height 0.3s;
	-moz-transition: opacity 0.3s, height 0.3s;
	transition: opacity 0.3s, height 0.3s;
}

.cl-effect-9 a::after {
	top: 100%;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	-o-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-9 a span:first-child {
	z-index: 2;
	display: block;
	font-weight: 300;
}

.cl-effect-9 a span:last-child {
	z-index: 1;
	display: block;
	padding: 8px 0 0 0;
	color: rgba(0,0,0,0.4);
	text-shadow: none;
	text-transform: none;
	font-style: italic;
	font-size: 0.75em;
	font-family: 'source-sans-pro', sans-serif;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	-o-transition: -o-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:focus::before {
	height: 6px;
}

.cl-effect-9 a:hover::before,
.cl-effect-9 a:hover::after,
.cl-effect-9 a:focus::before,
.cl-effect-9 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
}

.cl-effect-9 a:hover span:last-child,
.cl-effect-9 a:focus span:last-child {
	opacity: 1;
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-ms-transform: translateY(0%);
	-o-transform: translateY(0%);
	transform: translateY(0%);
}


/* ggplot, pdf download buttons */
.plot-download {
  color: white;
  background: #222222;
  font-size: 12px;
  height: 30px;
  width: 85px;
  padding: 5px;
  margin: 3px;
  border-radius: 15px;
}
.pdf-download {
  width: 60px;
}
.plot-download:hover {
  background: #8B69AA;
  color: #222222;
  font-weight: bold;
}
.pdf-download:hover {
  background: #00888B;
}

/* transform action buttons */
.transform-go {
  color: white;
  background: #222222;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  width: 100px;
  padding: 5px;
  margin: 3px;
  border-radius: 15px;
}
.transform-go:hover {
  background: white;
  color: #222222;
  font-weight: bolder;
}

/* regex parameter search textInput*/
.regex-go {
  color: white;
  background: #222222;
  font-size: 12px;
  font-weight: bold;
  height: 30px;
  width: 75px;
  padding: 5px;
  margin: 3px;
  border-radius: 15px;
}
.regex-go:hover {
  background: white;
  color: #222222;
  font-weight: bolder;
}
#params_to_plot_regex_label {
  padding-left: 5px;
  font-size: 85%;
}
#params_to_plot_regex {
  font-size: 85%;
  height: 40px;
  margin: 3px;
}
#invalid_regex {
 font-size: 80%;
}
