/* css for dynamic trace plot */
.dygraph {
    background: transparent !important;
  }
.dygraph-label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  line-height: 26px;
}
.dygraphs input[type="text"] {
  width: 30px;
  border: 2px solid #346fa1;
  border-radius: 5px;
  text-align: center;
  background-color: black ;
  color: white ;
}
