/* Also see shinyStan_datatables.css and shinyStan_dygraphs.css*/

/* red color: #B2011D */

#shinystan-title {
    max-width: 100%;
    text-align: center;
    font-size: 4.25rem;
    line-height: 1.05882;
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-family: "volkhov",serif;
    font-style: italic;
    font-weight: 400;
    letter-spacing: -3px;
}

#model-name {
  padding-top: 10px;
}

#wide-ensemble {
  z-index: -1;
  position: relative;
	margin:  20px 0 0;
	width: 100%;
}
#stan-logo {
  z-index: 1;
  position: relative;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -145px;
}

.home-links {
  text-align: center;
}

.help-links-active {
  text-decoration: underline;
}

.btn-default {
  background: black;
  color: white;
  box-shadow: 0 0 1px #ffffff inset;
}
.btn-default:link {
color: white;
}
.btn-default:focus,.btn-default.focus{
  color:#ffffff;background-color:#798d8f;border-color:#566566
  
}
.btn-default:hover{
  color:#ffffff;background-color:#798d8f;border-color:#74898a
  
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{
  color:#ffffff;background-color:#798d8f;border-color:#74898a
  
}
.btn-default:active:hover,.btn-default.active:hover,.open>.dropdown-toggle.btn-default:hover,.btn-default:active:focus,.btn-default.active:focus,.open>.dropdown-toggle.btn-default:focus,.btn-default:active.focus,.btn-default.active.focus,.open>.dropdown-toggle.btn-default.focus{
  color:#ffffff;background-color:#687b7c;border-color:#566566
  
}
.btn-default:active,.btn-default.active,.open>.dropdown-toggle.btn-default{
  background-image:none
  
}

/***********************/
/* NAVBAR */
.navbar-fixed-top {
  background-color: transparent;
  border-top: 5px solid black;
}


.navbar-brand {
  background: transparent;
  /*border-radius: 0 0 0 10px;*/
}

.navbar .nav {
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 0 0 10px 10px;
  background: black;
  opacity: 0.9;
  height: 47px;
  font-size: 13px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.navbar .nav > .active > a {
  background: black;
  color: #B2011D;
}
.navbar .nav > .active > a:hover {
  background: black;
  color: #B2011D;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px #B2011D inset;
}


.navbar .nav li {
  padding-top: 7px;
  color: #ffffff;
  line-height: 1.71429;
  display: inline-block;
  text-align:center; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.navbar .nav li a{ 
  transition-delay: 0.1s;
  background-color: black;
  color: #ffffff;
  font-weight: lighter;
  line-height: 1.71429;
  margin-bottom: 0;
  padding: 7px;
  text-align: center;
  text-transform: uppercase;
}

/*
.navbar .nav li a:link, a:visited {
}
*/

.navbar .nav li a:hover, a:active{ 
  /*background: #191919;*/
  color: white;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 0 1px #ffffff inset;
}
/***********************/


body {
  padding-top: 75px;
  /*font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: 300;*/
}

/*links*/
a:link {
    color: #006DCC;
}
a:visited { /* visited link */
    color: #0044cc;
}
a:hover { /* mouse over link */
    color: #B2011D;
}
a:active { /* selected link */
    color: #006DCC;
}

/**************************************/
/* customization control panels */
.optionswell, .tableoptionswell {
  padding-top: 20px;
  background-color: #dadada;
  border: 0 solid #222222;
  border-radius: 0;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.05) inset;
  margin-bottom: 20px;
  min-height: 20px;
  /*max-height: 400px;*/
  overflow-y: scroll;
}
.draggable_controls {
  cursor: move;
  opacity: 0.9;
  transition: opacity 500ms 1s;
}
.aoptions {
  margin-top: 10px;
}
.hroptions {
  margin-top: 0; 
  margin-bottom: 0;
  border-width: 2px; 
  border-radius: 1px;
  border-color: #bdbdbd;
}
.hrtableoptions {
  margin-top: 5px; 
  margin-bottom: 5px;
  border-width: 2px; 
  border-radius: 1px;
  border-color: #bdbdbd;
}
.divoptions_light {
  padding-right: 10px; 
  padding-left: 10px; 
  margin-top: 0; 
  margin-bottom: 10px; 
  background-color: #f3f3f3;
  -webkit-box-shadow: inset 2px 1px 2px 0 rgba(189,189,189,0.5);
  -moz-box-shadow: inset 2px 1px 2px 0 rgba(189,189,189,0.5);
  box-shadow: inset 2px 1px 2px 0 rgba(189,189,189,0.5);
}
/**************************************/


.well {
  padding-top: 5px;
  padding-bottom: 0;
}

.panel-body {
  background-color: #222222; 
}

.table .alignRight {
  text-align:right;
}

.modal-header {
  background-color: #222222;
  color: #f9dd67;
}

.popover-title {
    font-size: 12px;
}
/*
.popover-content {
    background-color: #006dcc;
    border-radius: 3px;
}
*/

/**************************************/
/* text boxes for transformations */
#bivariate_transform_x, #bivariate_transform_y,
#trivariate_transform_x, #trivariate_transform_y, #trivariate_transform_z,
#dens_transform_x, #hist_transform_x {
  /*height: 25px;*/
  padding: 1px 6px;
  font-family: monospace;
}

/**************************************/
/* don't blink when recalculating */
#autocorr_plot_out.recalculating, #multiparam_plot_out.recalculating { 
  /*#multitrace_plot_out.recalculating*/
  opacity: 1.0; 
}
/**************************************/

/**************************************/
/* plot hover shadow */
.plot_hover_shadow:hover { 
  -moz-box-shadow: 0 0 10px #84afd3; 
  -webkit-box-shadow: 0 0 10px #84afd3; 
  box-shadow: 0 0 10px #84afd3; 
} 

/*#multitrace_plot_out:hover*/
#autocorr_plot_out:hover, #multiview_density:hover, #multiview_autocorr:hover, #mcse_over_sd_plot_out:hover, #n_eff_plot_out:hover, #rhat_plot_out:hover, #hist_plot_out:hover, #density_plot_out:hover, #bivariate_plot_out:hover, #sampler_plot_treedepth_out:hover, #sampler_plot_treedepth0_out:hover, #sampler_plot_treedepth1_out:hover, #sampler_plot_divergent_out:hover { 
  
  -moz-box-shadow: 0 0 10px #84afd3; 
  -webkit-box-shadow: 0 0 10px #84afd3; 
  box-shadow: 0 0 10px #84afd3; 
} 

/* plot hover shadow for pp_check plots */
#pp_y_vs_avg_rep_out:hover, #pp_avg_rep_vs_avg_resid_rep_out:hover, #pp_hist_resids_out:hover, #pp_hists_test_statistics_max_out:hover, #pp_hists_test_statistics_min_out:hover, #pp_hists_test_statistics_mean_out:hover, #pp_hists_test_statistics_sd_out:hover, #pp_dens_rep_vs_obs_out:hover, #pp_hists_rep_vs_obs_out:hover { 
  
  -moz-box-shadow: 0 0 10px #84afd3; 
  -webkit-box-shadow: 0 0 10px #84afd3; 
  box-shadow: 0 0 10px #84afd3; 
} 
/**************************************/

/*******************/
/* sliders */
/*******************/
.irs {
    height: 40px;
}
.irs-with-grid {
    height: 60px;
}
.irs-line {
    height: 8px; top: 25px;
    background: #EEE;
    background: linear-gradient(to bottom, #DDD -50%, #FFF 150%); /* W3C */
    border: 1px solid #CCC;
    -moz-border-radius: 16px;
    border-radius: 16px;
}
    .irs-line-left {
        height: 8px;
    }
    .irs-line-mid {
        height: 8px;
    }
    .irs-line-right {
        height: 8px;
    }

.irs-bar {
    height: 8px; top: 25px;
    border-top: 1px solid #006dcc;
    border-bottom: 1px solid #006dcc;
    background: #006dcc;
}
    .irs-bar-edge {
        height: 8px; top: 25px;
        width: 14px;
        border: 1px solid #006dcc;
        border-right: 0;
        background: #006dcc;
        -moz-border-radius: 16px 0 0 16px;
        border-radius: 16px 0 0 16px;
    }

.irs-shadow {
    height: 2px; top: 38px;
    background: #000;
    opacity: 0.3;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.lt-ie9 .irs-shadow {
    filter: alpha(opacity=30);
}

.irs-slider {
    top: 17px;
    width: 22px; height: 22px;
    border: 1px solid #AAA;
    background: #DDD;
    -moz-border-radius: 27px;
    border-radius: 27px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    cursor: pointer;
}

#irs-active-slider, .irs-slider:hover {
    background: #FFF;
}

.irs-min, .irs-max {
    color: white;
    font-size: 10px; line-height: 1.333;
    text-shadow: none;
    top: 0;
    padding: 1px 3px;
    background: rgba(0,0,0,0.1);
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.lt-ie9 .irs-min, .lt-ie9 .irs-max {
    background: #ccc;
}

.irs-from, .irs-to, .irs-single {
    color: #fff;
    font-size: 11px; line-height: 1.333;
    text-shadow: none;
    padding: 1px 3px;
    background: #006dcc;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.lt-ie9 .irs-from, .lt-ie9 .irs-to, .lt-ie9 .irs-single {
    background: #999;
}

.irs-grid {
    height: 27px;
}
.irs-grid-pol {
    opacity: 0.5;
    background: #006dcc;
}
.irs-grid-pol.small {
    background: #999;
}

.irs-grid-text {
    bottom: 5px;
    color: #99a4ac;
}

.irs-disabled {
}



/**************************************/


/**************************************/
#stats_columns .shiny-options-group {
  color: black;
}
/**************************************/


/**************************************/

#shinystan_citation {
  color: black;
  cursor: move;
}
#citation_text {
  color: black;
  font-size: 11px;
}
/* notes and model_code text areas */
#user_model_info {
  background: #f1edec; 
  height: 400px;
  border: 5px solid #597ea2; 
  border-radius: 2px;
  font-size: 13px;
}
#user_model_code {
  background: #f1edec; 
  height: 400px;
  border: 5px solid #597ea2; 
  border-radius: 2px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 11px;
}
#user_model_info:focus, #user_model_code:focus {
  background: #f7e5e8;
  /*
  opacity: 0.9;
  filter: alpha(opacity=90);
  */
  outline: none;
  border: 10px solid black;/*#B2011D; */
  box-shadow: 0 0 10px black;
  font-size: 0.95em;
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 0.1s; 
}
#user_text_saved, #user_code_saved {
  color: gray;
}
#save_user_model_info_safe_quit, #save_user_model_code_safe_quit{
  color: gray;
  font-size: 12px;
}

/**************************************/

/**************************************
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.0.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * Made available under a MIT License:
 * Hover.css Copyright Ian Lunn 2014. Generated with Sass.
***************************************/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}