#multi_trace_plot_out:hover, #autocorr_plot_out:hover, #plot_param_vertical_out:hover, #multiview_density:hover, #multiview_trace:hover, #multiview_autocorr:hover, #mcse_over_sd_plot_out:hover, #n_eff_plot_out:hover, #rhat_plot_out:hover, #hist_plot_out:hover,
#density_plot_out:hover, #trace_plot_out:hover, #bivariate_plot_out:hover { 
  
  -moz-box-shadow: 0 0 10px #84afd3; 
  -webkit-box-shadow: 0 0 10px #84afd3; 
  box-shadow: 0 0 10px #84afd3; 

} 

#n_eff_threshold, #rhat_threshold, #mcse_threshold .irs-min, .irs-max {
  color: white ;
}

#controls_autocorr, #controls_multi_trace, #controls_multiparam, #controls_warnings {
  /* Appearance */
  color: white;
  cursor: move;
  /* Fade out while not hovering */
  opacity: 0.1;
  transition: opacity 500ms 1s;
}
#controls_autocorr:hover, #controls_multi_trace:hover, #controls_multiparam:hover, #controls_warnings:hover {
  /* Fade in while hovering */
  opacity: 0.85;
  transition-delay: 0;
}

.navbar {
  margin-bottom: 0px;
  font-size: 15px ;
}

.well {
  padding-bottom: 5px;
  padding-top: 5px;
}

.panel-body {
  background-color: #222222; 
}

.modal-header {
  background-color: #222222;
  color: #f9dd67;
}

.popover-title {
    font-size: 12px;
}
.popover-content {
    background-color: #428bca;
    border-radius: 3px;
}

#multiview_collapse, #density_collapse, #dynamic_trace_collapse, #hist_collapse, #trivariate_collapse, #bivariate_collapse .panel-body{
  opacity: 0.8; color: white;
}

#stats_table_options_collapse .panel-body{
  background-color: #F5F5F5;
}

#stats_columns .shiny-options-group {
  color: black;
}

#user_model_info {
  width: 500px; 
  border-color: #214565; 
  border-radius: 3px;
}
#model_code {
  width: 600px; 
  height: 600px; 
  border-color: #214565; 
  border-radius: 3px;
}

.dygraph-label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26px;
}
.dygraph-label.dygraph-xlabel{
  font-size: 14px;
}
.dygraph-label.dygraph-ylabel{
  font-size: 18px;
}

.dygraph-axis-label{
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
	font-weight: 200;
}

.dygraph-legend{
  background: transparent !important;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10px;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
}

.dygraphs input[type="text"] {
  width: 30px;
  border: 2px solid #346fa1;
  border-radius: 5px;
  text-align: center;
  background-color: black ;
  color: white ;
}


/*!
 * Hover.css (http://ianlunn.github.io/Hover/)
 * Version: 2.0.2
 * Author: Ian Lunn @IanLunn
 * Author URL: http://ianlunn.co.uk/
 * Github: https://github.com/IanLunn/Hover
 * Made available under a MIT License:
 * Hover.css Copyright Ian Lunn 2014. Generated with Sass.
*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* Glow */
.hvr-glow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-glow:hover, .hvr-glow:focus, .hvr-glow:active {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

